%form#new_message.js-form{"accept-charset" => "UTF-8", action: "", enctype: "multipart/form-data", method: "post"}
  %input#message_content.form__message.js-content{name: "message[content]", placeholder: "type a message", type: "text"}/
  .form__mask
    %label.form__mask__image{for: "message_image"}
      %i.fa.fa-picture-o.icon
      %input#message_image.hidden.js-file{:name => "message[image]", type: "file"}/
  %input.form__submit{"data-disable-with" => "send", name: "commit", type: "submit", value: "Send"}/
