
%h3.header__name
  taro@@
%ul.header__lists
  %li.list
    = link_to root_path, class: "header__lists--link" do
      %i.fa.fa-pencil-square-o.icon
  %li.list
    = link_to root_path, class: "header__lists--link" do
      %i.fa.fa-cog.icon
