.group
  .group__name
    .upper-message
      .upper-message__user-name
        sample グループ
      .upper-message__date
        お腹すいた
.group
  .group__name
    .upper-message
      .upper-message__user-name
        aeaaaaaaa
      .upper-message__date
        まだメッセージはありません。
