.message
  .upper-message
    .upper-message__user-name
      taro@@
    .upper-message__date
      2016/10/02 06:27:07
  .lower-message
    %p.lower-message__content なるほど
.message
  .upper-message
    .upper-message__user-name
      taro@@
    .upper-message__date
      2016/10/02 06:27:14
  .lower-message
    %p.lower-message__content 水色きれい
.message
  .upper-message
    .upper-message__user-name
      taro@@
    .upper-message__date
      2016/10/02 06:27:25
  .lower-message
    %p.lower-message__content command Enterで送信したい感ある
.message
  .upper-message
    .upper-message__user-name
      taro@@
    .upper-message__date
      2016/10/02 06:27:30
  .lower-message
    %p.lower-message__content お腹すいた
