.wrapper
  .side-bar
    = render partial: "side-bar"
  .chat
    .header
      = render partial: "chat-header"
    .messages
      = render partial: "chat-message"
    .form
      = render partial: "chat-form"
